[v-cloak] {
  display: none;
}

div, p, span {
  color: #304455;
}

body {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
