<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning vuejs</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div v-cloak id="app">
        {{ message}}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds to see
            my dynamically bound title!
        </span>
    </div>
    Conditionals and Loops
    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="app-4">
        <ol>
            <li v-cloak v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p v-cloak > {{ message }} </p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <!-- v-model -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <!-- Create an instance of the todo-item component -->
            <todo-item
                v-for      = "item in groceryList"
                v-bind:todo= "item"
                v-bind:key = "item.id"
            ></todo-item>
        </ol>
    </div>
    <!-- !The Vue Instance -->
    <!-- !Data and Methods -->
    <div id="app-8">
        <p>{{ foo }}</p>
        <button v-on:click="foo = 'Changed'">Change it</button>
    </div>


    <!-- full syntax -->
    <a v-bind:href="url"> ... </a>

    <!-- shorthand -->
    <a :href="url"> ... </a>

    <!-- shorthand with dynamic argument (2.6.0+) -->
    <a :[key]="url"> ... </a>

    <!-- full syntax -->
    <a v-on:click="doSomething"> ... </a>

    <!-- shorthand -->
    <a @click="doSomething"> ... </a>

    <!-- shorthand with dynamic argument (2.6.0+) -->
    <a @[event]="doSomething"> ... </a>
    
    <!-- Modifiers are special postfixes denoted by a dot, which indicate that a directive should be bound in some special way. 
    For example, the .prevent modifier tells the 
    v-on directive to call event.preventDefault() on the triggered event: -->
    <form v-on:submit.prevent="onSubmit"> ... </form>
    <div id="example">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage() }}"</p>
    </div>

    <!-- Alt + C -->
    <input v-on:keyup.alt.67="clear">

    <!-- Ctrl + Click -->
    <div v-on:click.ctrl="doSomething">Do something</div>
    <!-- The .exact modifier allows control of the exact 
    combination of system modifiers needed to trigger an event. -->
    
    Multiline text
    <div id="app-m">
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
    Checkbox
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    </div>
    <!-- Multiple checkboxes, bound to the same Array: -->
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    Radio
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
    Single select
    <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
    <span>Selected: {{ selected }}</span>
    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
    <span>Selected: {{ selected }}</span>
    <!-- production version, optimized for size and speed -->
    <script src="js/vue-script.js"></script>
    <script src="js/script.js"></script>
</body>
</html>